// Background
$background-color-primary: rgb(141, 4, 148);
$background-color-secondary: rgb(208, 33, 217);
$background-color-tertiary: rgb(255, 255, 255);

// Fonts
$font-color-primary: white;
$font-color-secondary: rgb(254, 222, 9);
$font-color-tertiary: rgb(141, 4, 148);
$font-color-quaternary: rgb(0, 0, 0);
$font-color-quinary: rgb(248, 7, 7);
$font-color-senary: rgb(171, 151, 21);
