@import "/src/sass/base";

.page {
  width: 100%;
  display: flex;
  justify-content: center;
}

.outer-wrapper {
  width: 75rem;
  margin-left: -2rem;
}

.item-wrapper {
  margin-top: $margin-tiny;
  font-size: 1.6rem;
  color: $font-color-quaternary;
}

.item {
  font-size: 2.2rem;

  &--no-icon {
    font-size: 2.2rem;
  }

  &--single--no-icon {
    font-size: 2.2rem;
    padding-left: 2rem;
  }

  &--double--no-icon {
    font-size: 2.2rem;
    padding-left: 1rem;
  }

  &--one-icon-nut {
    font-size: 2.2rem;
  }

  &--single--one-icon-nut {
    font-size: 2.2rem;
    padding-left: 1.5rem;
  }

  &--double--one-icon-nut {
    font-size: 2.185rem;
    padding-left: 1rem;
  }

  &--one-icon-hot {
    font-size: 2.225rem;
  }

  &--single--one-icon-hot {
    font-size: 2.225rem;
    padding-left: 1.5rem;
  }

  &--double--one-icon-hot {
    font-size: 2.225rem;
    padding-left: 1rem;
  }

  &--two-icon {
    font-size: 2.2rem;
  }

  &--single--two-icon {
    font-size: 2.2rem;
    padding-left: 0.5rem;
  }

  &--double--two-icon {
    font-size: 2.2rem;
    padding-left: 1rem;
  }
}

.description {
  color: $font-color-quinary;
  font-size: 1.8rem;
  margin-top: 0.25rem;
  padding-left: 5rem;
}

.number-gap--single-digit {
  padding-right: 1rem;
}

@media (max-width: 490px) {
  .item--double--no-icon,
  .item--single--no-icon,
  .item--no-icon,
  .item--double--one-icon-nut,
  .item--single--one-icon-nut,
  .item--one-icon-nut,
  .item--double--one-icon-hot,
  .item--single--one-icon-hot,
  .item--one-icon-hot,
  .item--double--two-icon,
  .item--single--two-icon,
  .item--two-icon {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
    margin-left: -1rem;
  }

  .outer-wrapper {
    width: 75rem;
    margin-left: 0.5rem;
  }
}
